# Data Types and Structures Questions



**1. What are data structures, and why are they important?**

Data structures are specialized formats for organizing, storing, and managing data to enable efficient access and manipulation. Examples in Python include lists, tuples, dictionaries, and sets. They are important because they:

- **Optimize Operations**: Different data structures are suited for specific tasks (e.g., lists for ordered sequences, dictionaries for key-value lookups).
- **Improve Efficiency**: They reduce time and space complexity for operations like searching, inserting, or deleting data.
- **Enhance Code Clarity**: Choosing the right data structure makes code more readable and maintainable.
- **Support Scalability**: Efficient data structures handle large datasets effectively.

For example, a dictionary allows fast lookups by key, while a list is ideal for maintaining an ordered sequence of items.

**2. Explain the difference between mutable and immutable data types with examples.**

- **Mutable Data Types**: Can be modified after creation (i.e., their content or structure can change).  
  - **Examples**:
    - **List**: `my_list = [1, 2, 3]; my_list[0] = 4` → `my_list` becomes `[4, 2, 3]`.
    - **Dictionary**: `my_dict = {'a': 1}; my_dict['a'] = 2` → `my_dict` becomes `{'a': 2}`.
    - **Set**: `my_set = {1, 2}; my_set.add(3)` → `my_set` becomes `{1, 2, 3}`.

- **Immutable Data Types**: Cannot be modified after creation; any change creates a new object.  
  - **Examples**:
    - **String**: `my_str = "hello"; my_str[0] = "H"` → Raises an error; instead, `my_str = "Hello"` creates a new string.
    - **Tuple**: `my_tuple = (1, 2, 3); my_tuple[0] = 4` → Raises an error; tuples are fixed.
    - **Integer**: `x = 5; x += 1` → Creates a new integer object `6`.

Mutable types are flexible for dynamic data, while immutable types ensure data integrity and are hashable (usable as dictionary keys or set elements).


**3. What are the main differences between lists and tuples in Python?**

| Feature                | List                              | Tuple                            |
|------------------------|-----------------------------------|----------------------------------|
| **Mutability**         | Mutable (can modify elements)     | Immutable (cannot modify elements) |
| **Syntax**             | Square brackets: `[1, 2, 3]`      | Parentheses: `(1, 2, 3)`         |
| **Performance**        | Slightly slower due to mutability | Faster due to immutability       |
| **Use Case**           | Dynamic data that may change      | Fixed data, e.g., constants      |
| **Methods**            | Many (e.g., `append`, `remove`)   | Few (e.g., `count`, `index`)     |
| **Hashability**        | Not hashable (cannot be dict key) | Hashable (can be dict key)       |

**Example**:

In [ ]:
my_list = [1, 2, 3]
my_list[0] = 4
my_list

[4, 2, 3]

In [ ]:
my_tuple = (1, 2, 3)
my_tuple[0] = 4

TypeError: 'tuple' object does not support item assignment

**4. Describe how dictionaries store data.**

Dictionaries in Python store data as **key-value pairs**, where each key is unique and maps to a value. They are implemented using a **hash table** internally, which enables fast lookups. Keys must be immutable (e.g., strings, numbers, tuples), while values can be any data type.

**How it works**:
- A key is hashed using a hash function, producing an index that points to a memory location.
- The value associated with the key is stored at that index.
- If collisions occur (multiple keys hashing to the same index), Python resolves them (e.g., using open addressing).


Dictionaries are ideal for quick lookups by key, like storing user data or configuration settings.

**Example**:

In [ ]:
my_dict = {"name": "Alice", "age": 25}
print(my_dict["name"])

Alice

**5. Why might you use a set instead of a list in Python?**

Use a set instead of a list when:
- **Uniqueness Matters**: Sets automatically remove duplicates, while lists allow duplicates.
  - **Example**: `my_set = {1, 1, 2}` → `{1, 2}`; `my_list = [1, 1, 2]` → `[1, 1, 2]`.
- **Fast Membership Testing**: Sets use hash tables, making `in` operations faster (O(1) vs. O(n) for lists).
  - **Example**: Checking if `5 in my_set` is faster than `5 in my_list`.
- **Set Operations**: Sets support mathematical operations like union, intersection, and difference.
  - **Example**: `set1 = {1, 2}; set2 = {2, 3}; set1 & set2` → `{2}`.
- **No Order Needed**: Sets are unordered, unlike lists, which maintain order.

Use sets for tasks like removing duplicates or performing set operations; use lists for ordered sequences.

**6. What is a string in Python, and how is it different from a list?**

- **String**: A sequence of characters (e.g., `"hello"`) that is **immutable** and typically represents text. Strings are stored as a single object and support operations like slicing and concatenation.
  - **Example**: `my_str = "hello"; my_str[0]` → `"h"`.

- **Differences from a List**:
  - **Mutability**: Strings are immutable (`my_str[0] = "H"` fails); lists are mutable (`my_list[0] = 4` works).
  - **Data Type**: Strings contain only characters; lists can contain any data type (e.g., `[1, "hello", 3.14]`).
  - **Methods**: Strings have text-specific methods (e.g., `upper()`, `split()`); lists have sequence methods (e.g., `append()`, `pop()`).
  - **Use Case**: Strings are for text manipulation; lists are for general-purpose sequences.

**Example**:

In [ ]:
my_str = "hello"
my_list = ["h", "e", "l", "l", "o"]

In [ ]:
my_list[0] = "H"  # Works: ["H", "e", "l", "l", "o"]
my_list

['H', 'e', 'l', 'l', 'o']

In [ ]:
my_str[0] = "H"   # Error: strings are immutable

TypeError: 'str' object does not support item assignment

**8. What is a hash table, and how does it relate to dictionaries in Python?**

A **hash table** is a data structure that stores key-value pairs, allowing fast retrieval by using a hash function to map keys to indices in an array.

- **How it Works**:
  - A key is passed through a hash function, producing a hash code (an integer).
  - The hash code determines the index where the value is stored.
  - Collisions (when different keys map to the same index) are resolved using techniques like open addressing or chaining.

- **Relation to Dictionaries**: Python dictionaries are implemented as hash tables. The keys are hashed to store and retrieve values efficiently, making operations like lookup, insertion, and deletion average O(1) time complexity.

Dictionaries leverage hash tables for quick key-based access.

**Example**

In [ ]:
my_dict = {"a": 1, "b": 2}
print(my_dict["a"])

1

**9. Can lists contain different data types in Python?**

Yes, lists in Python can contain different data types. Lists are heterogeneous, meaning their elements can be of any type (integers, strings, floats, other lists, etc.).

**Example**:

In [ ]:
# This flexibility makes lists versatile for storing mixed data, unlike arrays in some other languages that require uniform types.

my_list = [1, "hello", 3.14, [2, 3], {"key": "value"}]
print(my_list)

[1, 'hello', 3.14, [2, 3], {'key': 'value'}]



**10. Explain why strings are immutable in Python.**

Strings are immutable in Python to ensure:
- **Hashability**: Immutable strings can be used as dictionary keys or set elements, as their hash value remains constant.
  - **Example**: `my_dict = {"key": 1}` works because `"key"` is immutable.
- **Memory Efficiency**: Immutability allows Python to reuse string objects (string interning), saving memory for identical strings.
- **Thread Safety**: Immutable strings are safe in multithreaded environments, as they cannot be modified concurrently.
- **Data Integrity**: Immutability prevents accidental changes to strings, which are often used for constants or identifiers.

**Example**:

In [ ]:
my_str = "hello"
my_str[0] = "H"  # Error: strings cannot be modified

TypeError: 'str' object does not support item assignment

In [ ]:
print(my_str)
my_str = "Hello"  # Creates a new string object
print(my_str)

hello
Hello

**11. What advantages do dictionaries offer over lists for certain tasks?**

Dictionaries offer advantages over lists for tasks involving:
- **Fast Lookups**: Dictionaries use hash tables for O(1) average-case lookup by key, while lists require O(n) for searching.
  - **Example**: `my_dict["key"]` is faster than searching `my_list` for a value.
- **Key-Value Association**: Dictionaries store data as key-value pairs, ideal for mapping relationships (e.g., user IDs to names).
  - **Example**: `users = {"id1": "Alice", "id2": "Bob"}`.
- **No Duplicates**: Dictionary keys are unique, preventing duplicate entries, unlike lists.
- **Flexible Access**: Access values directly by meaningful keys, not indices.

**Example**:

In [ ]:
# Dictionary: fast lookup
my_dict = {"name": "Alice", "age": 25}
print("my_dict['name']: ",my_dict["name"])

my_dict['name']:  Alice

**12. Describe a scenario where using a tuple would be preferable over a list.**

**Scenario**: Storing fixed coordinates for a geometric point in a graphics application.

- **Why Tuple**:
  - **Immutability**: Ensures the coordinates (x, y) cannot be accidentally modified, preserving the point’s integrity.
  - **Hashability**: Allows the tuple to be used as a dictionary key (e.g., to map points to colors).
  - **Performance**: Tuples are slightly faster and use less memory than lists.

Tuples are preferable for fixed, immutable data like coordinates.

In [ ]:
# Tuple for fixed coordinates
point = (10, 20)
color_map = {point: "red"}  # Works: tuples are hashable
print(color_map[point])  # Output: red

red

In [ ]:
# List would fail as a dict key
point_list = [10, 20]
color_map = {point_list: "red"}  # Error: lists are unhashable

TypeError: unhashable type: 'list'

**13. How do sets handle duplicate values in Python?**

Sets in Python automatically eliminate duplicate values because they store only unique elements, using a hash table internally.

- **How it Works**:
  - When an element is added to a set, its hash is computed and checked against existing elements.
  - If the element already exists (same hash and value), it is not added again.
  - This ensures no duplicates are stored.

**Example**:

In [ ]:
my_set = {1, 2, 2, 3}
print(my_set)  # Output: {1, 2, 3}
my_set.add(2)  # No effect: 2 is already present
print(my_set)  # Output: {1, 2, 3}

{1, 2, 3}
{1, 2, 3}

**14. How does the “in” keyword work differently for lists and dictionaries?**

- **Lists**: The `in` keyword checks if an element exists in the list by scanning each item sequentially, resulting in O(n) time complexity.
  - **Example**:
    ```python
    my_list = [1, 2, 3]
    print(2 in my_list)  # Output: True (searches each element)
    ```

- **Dictionaries**: The `in` keyword checks if a key exists in the dictionary using the hash table, resulting in O(1) average-case time complexity.
  - **Example**:
    ```python
    my_dict = {"a": 1, "b": 2}
    print("a" in my_dict)  # Output: True (checks keys only)
    print(1 in my_dict)    # Output: False (does not check values)
    ```

**Key Difference**: `in` for lists searches all elements; `in` for dictionaries checks only keys, and it’s faster due to hashing.

**15. Can you modify the elements of a tuple? Explain why or why not.**

No, you cannot modify the elements of a tuple because tuples are **immutable**.

- **Why**:
  - Tuples are designed to be fixed after creation to ensure data integrity and hashability.
  - Modifying a tuple would change its hash value, breaking its use in hash-based structures like dictionaries or sets.
  - Any attempt to modify a tuple (e.g., `my_tuple[0] = 1`) raises a `TypeError`.

**Example**:

In [ ]:
my_tuple = (1, 2, 3)
my_tuple[0] = 4  # Error: 'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [ ]:

# However, if a tuple contains mutable objects (e.g., a list), those objects can be modified:
#The tuple’s structure remains unchanged, but mutable elements within it can be altered.
my_tuple = (1, [2, 3])
my_tuple[1][0] = 4  # Works: modifies the list inside the tuple
print(my_tuple)     # Output: (1, [4, 3])

(1, [4, 3])

In [ ]:
# We can also change its length
my_tuple[1].append(4);
print(my_tuple)

(1, [4, 3, 4])

**16. What is a nested dictionary, and give an example of its use case?**

A **nested dictionary** is a dictionary that contains other dictionaries as values, allowing hierarchical data storage.

- **Use Case**: Storing student records with multiple attributes, such as grades for different subjects across semesters.
  - **Example**:

In [ ]:

students = {
        "Alice": {"math": 95, "science": 88, "semester": 1},
        "Bob": {"math": 78, "science": 92, "semester": 2}
}
print(students["Alice"]["math"])  # Output: 95

95

- **Benefits**:
  - Organizes complex data hierarchically.
  - Allows easy access to nested values using multiple keys.
  - Useful for representing structured data, like JSON-like objects or database records.


**17. Describe the time complexity of accessing elements in a dictionary.**

Accessing elements in a Python dictionary (via key) has an **average-case time complexity of O(1)**.

- **Why**:
  - Dictionaries use a hash table. The key is hashed to compute an index, and the value is retrieved directly from that index.
  - In the average case, hashing and lookup are constant-time operations.
- **Worst Case**: O(n) if there are many hash collisions (rare with Python’s hash table implementation, which uses open addressing to resolve collisions efficiently).

**Example**:

In [ ]:
# This makes dictionaries ideal for tasks requiring frequent key-based access.
my_dict = {"a": 1, "b": 2}
print(my_dict["a"])  # O(1) lookup

1

**18. In what situations are lists preferred over dictionaries?**

Lists are preferred over dictionaries when:
- **Order Matters**: Lists maintain insertion order (since Python 3.7), while dictionaries are conceptually unordered (though they preserve order since 3.7).
  - **Example**: Storing a sequence of events: `events = ["start", "pause", "end"]`.
- **Simple Sequences**: Lists are better for storing homogeneous or ordered data without key-value relationships.
  - **Example**: `[1, 2, 3]` for a sequence of numbers.
- **Indexing by Position**: Lists allow access by integer index, which is simpler for sequential data.
  - **Example**: `my_list[0]` vs. needing a key in a dictionary.
- **Duplicates Allowed**: Lists allow duplicate elements, unlike dictionary keys.
  - **Example**: `[1, 1, 2]` vs. `{"a": 1, "a": 2}` (duplicate key overwrites).
- **Iterating Sequentially**: Lists are ideal for iterating over items in order.
  - **Example**: `for item in my_list:` is straightforward.

Use lists for ordered, index-based, or duplicate-friendly data; use dictionaries for key-value mappings.

**19. Why are dictionaries considered unordered, and how does that affect data retrieval?**

- **Why Unordered**: Historically, Python dictionaries (before 3.7) did not guarantee insertion order due to their hash table implementation, where keys are mapped to indices based on hash values, not insertion sequence. While Python 3.7+ preserves insertion order, dictionaries are still considered unordered in a conceptual sense because their primary purpose is key-based access, not sequential access.

- **Impact on Data Retrieval**:
  - Retrieval is **key-based**, not index-based, so order doesn’t affect accessing values: `my_dict["key"]` is O(1) regardless of order.
  - Iteration order (e.g., `for key in my_dict`) matches insertion order (since 3.7), but you shouldn’t rely on order for logic, as it’s not the primary feature.
  - If order is critical, lists or tuples are better for sequential access.

**Example**:

In [ ]:
my_dict = {"b": 2, "a": 1}
print(list(my_dict.keys()))  # Output: ["b", "a"] (insertion order preserved)
print(my_dict["a"])          # Output: 1 (order doesn’t affect retrieval)

['b', 'a']
1

**20. Explain the difference between a list and a dictionary in terms of data retrieval.**

- **List Data Retrieval**:
  - **Method**: Access elements by integer index (0-based).
  - **Time Complexity**: O(1) for direct index access (e.g., `my_list[0]`), but O(n) for searching an element (e.g., `value in my_list`).
  - **Use Case**: Suitable for ordered data where position matters.
  - **Example**:
    ```python
    my_list = ["apple", "banana", "orange"]
    print(my_list[1])  # Output: banana (index-based)
    print("banana" in my_list)  # Output: True (searches entire list)
    ```

- **Dictionary Data Retrieval**:
  - **Method**: Access values by key (not index).
  - **Time Complexity**: O(1) average case for key lookup (e.g., `my_dict["key"]`) due to hash table implementation.
  - **Use Case**: Suitable for key-value mappings where keys are meaningful.
  - **Example**:
    ```python
    my_dict = {"fruit1": "apple", "fruit2": "banana"}
    print(my_dict["fruit2"])  # Output: banana (key-based)
    print("fruit2" in my_dict)  # Output: True (fast key check)
    ```

- **Key Differences**:
  - Lists use indices (sequential access); dictionaries use keys (direct access).
  - Dictionary lookups are faster for key-based retrieval; list searches are slower unless accessing by index.
  - Lists are ordered and allow duplicates; dictionaries use unique keys and focus on mappings.

---

# Practical Questions

## 1. Write a code to create a string with your name and print it

In [ ]:
name="Mohammed Jumaan"
print(name)

Mohammed Jumaan

## 2. Write a code to find the length of the string "Hello World".

In [ ]:
len("Hello World")

11

## 3. Write a code to slice the first 3 characters from the string "Python Programming"

In [ ]:
string="Python Programming"
print(string[:3])

Pyt

## 4. Write a code to convert the string "hello" to uppercase

In [ ]:
"hello".upper()

'HELLO'

## 5. Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [ ]:
# Method 1
string="I like apple"
string.replace("apple","orange")

'I like orange'

In [ ]:
# Method 2
string="I like {}"
string.format("apple")

'I like apple'

In [ ]:
string.format("orange")

'I like orange'

## 6. Write a code to create a list with numbers 1 to 5 and print it

In [ ]:
li=[1,2,3,4,5]
for i in li:
  print(i)

1
2
3
4
5

## 7. Write a code to append the number 10 to the list [1, 2, 3, 4]?

In [ ]:
list=[1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

## 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [ ]:
list =[1,2,3,4,5]
list.remove(3)
list

[1, 2, 4, 5]

## 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [ ]:
list=['a', 'b', 'c', 'd']

In [ ]:
list[1]

'b'

## 10. Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
li= [10, 20, 30, 40, 50]

In [ ]:
# Method 1
for i in range(0,int(len(li)/2)):
  temp=li[i]
  li[i]=li[len(li)-i-1]
  li[len(li)-i-1]=temp
print(li)

[50, 40, 30, 20, 10]

In [ ]:
# Method 2
li= [10, 20, 30, 40, 50]
li.reverse()
li

[50, 40, 30, 20, 10]

In [ ]:
# Method 3
li= [10, 20, 30, 40, 50]
li[:: -1]

[50, 40, 30, 20, 10]

## 11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
my_tuple = (100, 200, 300)
print(my_tuple)

(100, 200, 300)

## 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
my_tuple = ('red', 'green', 'blue', 'yellow')
my_tuple[-2]

'blue'

## 13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [ ]:
# Method 1
my_tuple=(10,20,5,15)
min(my_tuple)

5

In [ ]:
# Method 2
min=my_tuple[0]
for i in my_tuple:
  if i<min:
    min=i
print(min)

5

## 14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
my_tuple=('dog', 'cat', 'rabbit')
my_tuple.index("cat")

1

## 15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it

In [ ]:
my_fruits=("apple","mango","kiwi")
if "kiwi" in my_fruits:
  print("Kiwi is present",my_fruits.index("kiwi"))

else:
  print("kiwi is not in the tuple")

Kiwi is present 2

## 16. Write a code to create a set with the elements 'a', 'b', 'c' and print it

In [ ]:
alpha={"a","b","c","c"}
alpha

{'a', 'b', 'c'}

## 17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}

In [ ]:
my_set={1,2,3,4,5}
my_set.clear()
my_set

set()

## 18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [ ]:
my_set={1,2,3,4}
my_set.remove(4)
my_set

{1, 2, 3}

## 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [ ]:
# Method 1
set1={1,2,3}
set2={3,4,5}
setUnion=set1|set2
setUnion

{1, 2, 3, 4, 5}

In [ ]:
# Method 2
set1={1,2,3}
set2={3,4,5}
set1.union(set2)

{1, 2, 3, 4, 5}

## 20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [ ]:
# Method 1
set1={1,2,3}
set2={2,3,4}
set1.intersection(set2)

{2, 3}

In [ ]:
# Method 2
set1={1,2,3}
set2={2,3,4}
set1&set2

{2, 3}

## 21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it

In [ ]:
info={"name":"Mohammed Jumaan","age":21,"city":"Bangalore"}
info

{'name': 'Mohammed Jumaan', 'age': 21, 'city': 'Bangalore'}

## 22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [ ]:
my_dict={'name': 'John', 'age': 25}
my_dict["country"]="USA"
my_dict

{'name': 'John', 'age': 25, 'country': 'USA'}

## 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [ ]:
my_dict={'name': 'Alice', 'age': 30}
my_dict["name"]

'Alice'

## 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [ ]:
info={'name': 'Bob', 'age': 22, 'city': 'New York'}
del info['age']

In [ ]:
info

{'name': 'Bob', 'city': 'New York'}

## 25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [ ]:
my_dict = {'name': 'Alice', 'city': 'Paris'}
if 'city' in my_dict:
    print("Key 'city' exists in the dictionary")
else:
    print("Key 'city' does not exist in the dictionary")

Key 'city' exists in the dictionary

In [ ]:
# Create a list
my_list = ["apple", "mango", "banana"]

# Create a tuple
my_tuple = ("Paris", "London", "Tokyo")

# Create a dictionary
my_dict = {"name": "Alice", "city": "Paris", "age": 25}

# Print all
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: ['apple', 'mango', 'banana']
Tuple: ('Paris', 'London', 'Tokyo')
Dictionary: {'name': 'Alice', 'city': 'Paris', 'age': 25}

## 27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [ ]:
import random


my_list = [random.randint(1, 100) for _ in range(5)]
print("Original list:", my_list)
my_list.sort()
print("Sorted list:", my_list)

Original list: [89, 3, 86, 13, 75]
Sorted list: [3, 13, 75, 86, 89]

## 28. Write a code to create a list with strings and print the element at the third index.

In [ ]:
my_list = ["apple", "banana", "mango", "orange", "grape"]
my_list[2]

'mango'

## 29. Write a code to combine two dictionaries into one and print the result.

In [ ]:
dict1 = {'name': 'Alice', 'city': 'Paris'}
dict2 = {'age': 25, 'city': 'London'}

combined_dict = dict1 | dict2

print("Combined dictionary:", combined_dict)

Combined dictionary: {'name': 'Alice', 'city': 'London', 'age': 25}

## 30. Write a code to convert a list of strings into a set.

In [ ]:
my_list = ["apple", "banana", "apple", "mango", "banana"]

my_set = set(my_list)

print("Set:", my_set)

Set: {'banana', 'apple', 'mango'}